<!DOCTYPE html>
<html lang="en">
  <%- include('./include/head.ejs') %> 
  <body>
    <%- include('./include/navbar.ejs') %>
    <div class="uk-container">
      <div class="uk-card uk-card-default uk-card-body">
        <form method="POST" action="contact">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Nombre</legend>
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Nombre" name="nombre">
            </div>
            <legend class="uk-legend">Apellido</legend>
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Apellido" name = "apellido">
            </div>
            <legend class="uk-legend">Mensaje</legend>
            <div class="uk-margin">
              <textarea class="uk-textarea" rows="5" placeholder="Mensaje" name="mensaje"></textarea>
            </div>
            <div class="uk-margin">
              <button type="submit" class="uk-button uk-button-primary">Enviar</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  

  </body>
</html>
