<!DOCTYPE html>
<html lang="en">
  <%- include('./include/head.ejs') %> 
  <body>
    <div class="uk-cover-container uk-height-medium">
      <img src="img/header.svg" alt="" uk-cover />
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="home"
            ><img src="img/logo.svg"
          /></a>
          <ul class="uk-navbar-nav">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="blog">Blog</a></li>
            <li class="uk-active"><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="uk-container">
      <div class="uk-card uk-card-default uk-card-body">
        <form method="POST" action="contact">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Nombre</legend>
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Nombre" name="nombre">
            </div>
            <legend class="uk-legend">Apellido</legend>
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Apellido" name = "apellido">
            </div>
            <legend class="uk-legend">Mensaje</legend>
            <div class="uk-margin">
              <textarea class="uk-textarea" rows="5" placeholder="Mensaje" name="mensaje"></textarea>
            </div>
            <div class="uk-margin">
              <button type="submit" class="uk-button uk-button-primary">Enviar</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  

  </body>
</html>
